<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>小丑网--关于小丑网</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	    <link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
		<link href="/stylesheets/video-js.css" rel="stylesheet">
	    <script type="text/javascript" src="/javascripts/jquery.js" charset="utf-8"></script>
	    <script type="text/javascript" src="/javascripts/bootstrap.js" charset="utf-8"></script>
	    <script type="text/javascript" src="/javascripts/navbar.js" charset="utf-8"></script>
	    <script type="text/javascript" src="/javascripts/about.js" charset="utf-8"></script>
		<link rel="Shortcut Icon" href="/images/icon/icon.ico">
	</head>
	<body>
		<% include header.ejs %>
		<div class="container" style="opacity: 0.8;">
			<div class="jumbotron">
			  <h1>小丑网</h1>
			  <p class="text-muted">这是一个专注于电影展示的网站</p>
			  
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<ul class="list-group list-li">
					  <li class="list-group-item list-group-item-info active">关于电影</li>
					  <li class="list-group-item list-group-item-info">关于小丑网</li>
					  <li class="list-group-item list-group-item-info">关于我</li>
					</ul>
				</div>
				<div class="col-xs-10 well disp" style="opacity: 0.8;">
					<div class="text-center">
				      <img class="center-block" src="/images/about/clown.jpeg" alt="">
				      <div>
				        <p class="text-primary">电影，也称映画。是由活动照相术和幻灯放映术结合发展起来的一种现代艺术。是一门可以容纳文学戏剧、摄影、绘画、音乐、舞蹈、文字、雕塑、建筑等多种艺术的综合艺术，但它又具有独自的艺术特征。电影在艺术表现力上不但具有其它各种艺术的特征，又因可以运用蒙太奇这种艺术性极强的电影组接技巧，具有超越其它一切艺术的表现手段，而且影片可以大量复制放映。</p>
				      </div>
				  </div>
				</div>
			</div>
		</div>
		
		<% include footer.ejs %>
	</body>
</html>