<footer class="well">
          <div class="container media">
            
            <div class="media-body">

              <h4 class="media-heading text-default text-center"><span class="glyphicon glyphicon-camera"></span> 灵感来自 The Dark Knight </h4>
              <blockquote><small>乔治卢卡斯，斯皮尔伯格之后，谁是美国主流商业电影的接棒人呢？毫无疑问，christopher nolan正以势如破竹之势日夜兼程的霸占美国市场，现在看来，结果不错，数以千万的美国观众纷纷掏出腰包进入影院观看这部《the dark knight》。</small>
              </blockquote>
              <div class="pull-right">---影评来自 <cite title="豆瓣电影">豆瓣电影</cite></div>
            </div>
            <div class="media-right">
              <a href="#">
                <img class="media-object" src="/images/banner.png" alt="banner">
              </a>
            </div>
          </div>
          <address class="text-center">
          <span class="glyphicon glyphicon-globe"></span>
            <span>山东省济南市中关路2008号</span>
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="mailto:1768385508@qq.com">1768385508@qq.com</a>
          </address>
        </footer>